@media only screen and (max-width: 415px) {

.redirect-wrapper {
    background: url("https://pbs.twimg.com/media/EKxSpfWXsAAaUBR.jpg") no-repeat fixed;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  .redirect {
    /* min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; */
    color: white;
    padding-top: 300px;
  }  
  
  h2 {
    /* padding: 50px 40px 30px 0px; */
    /* padding-top: 50px; */
    text-shadow: 2px 2px 2px #474747;
  }

  .link {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; */
    padding-top: 20px;
  }

  .hyperlink-image {
    /* margin-top: 190px; */
    border-radius: 10%;
    height: 150px;
    width: 150px;
    transition: .3s;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 1s infinite;
    border: 1px solid black;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
}

@media only screen and (min-width: 416px) {

  .redirect-wrapper {
    background: url("https://pbs.twimg.com/media/EKxSpfWXsAAaUBR.jpg") no-repeat fixed;
    height: 100%;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  .redirect {
    color: white;
    padding-top: 400px;
  }  
  
  h2 {
    /* padding: 50px 40px 30px 0px; */
    /* padding-top: 50px; */
    text-shadow: 2px 2px 2px #474747;
    font-size: 50px;
  }

  .link {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; */
    padding-top: 20px;
  }

  .hyperlink-image {
    /* margin-top: 190px; */
    border-radius: 10%;
    height: 150px;
    width: 150px;
    transition: .3s;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 1s infinite;
    border: 1px solid black;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
}